- name: install python3-kubernetes
  package:
    update_cache: yes
    state: present
    name: python3-kubernetes

- name: install helm
  block:
    - name: download helm
      unarchive:
        src: https://get.helm.sh/helm-v{{ helm_version }}-linux-amd64.tar.gz
        dest: /tmp/
        remote_src: yes
        owner: "{{ ansible_ssh_user }}"
        group: "{{become_user}}"
        mode: "0770"
    - name: copy helm bin
      copy:
        src: /tmp/linux-amd64/helm
        dest: /usr/local/bin/helm
        remote_src: yes
        owner: "{{become_user}}"
        group: "{{become_user}}"
        mode: "0770"

- name: add repo helm chart nfs-subdir-external-provisioner
  kubernetes.core.helm_repository:
    name: "nfs-subdir-external-provisioner"
    repo_url: "https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner"
    force_update: true

- name: deploy nfs-subdir-external-provisioner
  kubernetes.core.helm:
    name: nfs-subdir-external-provisioner
    chart_version: "4.0.18"
    chart_ref: nfs-subdir-external-provisioner/nfs-subdir-external-provisioner
    release_namespace: nfs-subdir-external
    create_namespace: true
    wait: false
    values:
      storageClass:
        name: nfs
        defaultClass: true
      nfs:
        server: "{{ hostvars[groups['nfs_servers'][0]].inventory_hostname }}"
        path: "{{ nfs_path }}"
      archiveOnDelete: false

- name: add repo argo-helm
  kubernetes.core.helm_repository:
    name: argo
    repo_url: https://argoproj.github.io/argo-helm

- name: helm deploy argo
  kubernetes.core.helm:
    name: "argocd"
    chart_version: "9.1.3"
    chart_ref: "argo/argo-cd"
    release_namespace: "argocd"
    create_namespace: true
    update_repo_cache: true
    force: true
    wait: false
    values:
      fullnameOverride: argocd
      global:
        domain: argocd.otacon.local
        logging:
          level: error
      dex:
        enabled: false
      configs:
        params:
          "server.insecure": true
        cm:
          "users.anonymous.enabled": false
          "accounts.image-updater": apiKey
          "accounts.image-updater.enabled": true
          "accounts.vitor.enabled": true
          "accounts.vitor": login
          "admin.enabled": true
      rbac:
        policy.csv: |
          p, role:op, applications, get, */*, allow
          p, role:op, applications, logs, */*, allow
          p, role:op, applications, sync, */*, allow
          p, role:image-updater, applications, get, */*, allow
          p, role:image-updater, applications, update, */*, allow
          g, image-updater, role:image-updater
          g, vitor, role:admin
          g, admin, role:admin
        scopes: "[email, group]"
      server:
        ingress:
          enabled: true
          ingressClassName: nginx
      notifications:
        enabled: false

- name: helm deploy argocd-image-updater
  kubernetes.core.helm:
    name: "argocd-image-updater"
    chart_version: "1.0.1"
    chart_ref: "argo/argocd-image-updater"
    release_namespace: "argocd"
    create_namespace: true
    update_repo_cache: true
    force: true
    wait: false
    values:
      fullnameOverride: argocd-image-updater
      metrics:
        enabled: true
      config:
        gitCommitUser: vit0r
        # gitCommitMail: ""
        gitCommitTemplate: |
          build: argocd-image-updater apply {%raw%}{{ .AppName }}{%endraw%}
          {%raw%}{{ range .AppChanges -}}{%endraw%}
          updates image {%raw%}{{ .Image }}{%endraw%} tag '{%raw%}{{ .OldTag }}{%endraw%}' to '{%raw%}{{ .NewTag }}{%endraw%}'
          {%raw%}{{ end -}}{%endraw%}
        logLevel: info
        argocd:
          token: argocd-image-updater#token
        registries:
          - name: Docker Hub
            api_url: https://index.docker.io
            prefix: docker.io/vit0r
            defaultns: library
            ping: no
            credentials: secret:argocd/argocd-image-updater#credentials
            default: true

- name: add repo helm chart metallb
  kubernetes.core.helm_repository:
    name: metallb
    repo_url: "https://metallb.github.io/metallb"
    force_update: true

- name: deploy metallb
  kubernetes.core.helm:
    name: metallb
    chart_version: "0.15.2"
    chart_ref: metallb/metallb
    release_namespace: metallb-system
    create_namespace: true
    wait: true
    values:
      installCRDs: true

- name: create a IPAddressPool object
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: default
        namespace: metallb-system
      spec:
        addresses:
          - "{{metallb_loadbalancer_ip_range}}"
        autoAssign: true
        allow-icmp: true
        avoidBuggyIPs: false
- name: create a L2Advertisement object
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: default
        namespace: metallb-system
      spec:
        ipAddressPools:
          - default

- name: add repo helm chart ingress-nginx
  kubernetes.core.helm_repository:
    name: ingress-nginx
    repo_url: "https://kubernetes.github.io/ingress-nginx"
    force_update: true

- name: deploy ingress-nginx
  kubernetes.core.helm:
    name: ingress-nginx
    chart_version: "4.14.0"
    chart_ref: ingress-nginx/ingress-nginx
    release_namespace: ingress-nginx
    create_namespace: true
    wait: false
    values:
      defaultBackend:
        autoscaling:
          enabled: true
      controller:
        extraArgs:
          "enable-ssl-passthrough": ""
        service:
          loadBalancerIP: "{{metallb_loadbalancer_ip_range.split('-')[0]}}"
          externalTrafficPolicy: "Local"
      tcp:
        3306: mariadb/mariadb:3306
        5432: postgresql/postgresql:5432
        8040: doris/otacon-be-internal:8040
        8030: doris/otacon-fe-internal:8030
        9030: doris/otacon-fe-internal:9030
