apiVersion: 1
providers:
    apiVersion: 1
    providers:
      - name: {{item}}
        orgId: 1
        type: file
        disableDeletion: true
        editable: true
        updateIntervalSeconds: 60
        folder: {{item}}
        options:
          path: /etc/grafana/provisioning/dashboards/{{item}}
          foldersFromFilesStructure: true
