apiVersion: 1
datasources:
  - name: Prometheus
    enabled: true
    defaultDatasourceEnabled: true
    isDefaultDatasource: true
    uid: prometheus
    timeout: 30
    defaultDatasourceScrapeInterval: 15s
    httpMethod: POST
    createPrometheusReplicasDatasources: false
    label: grafana_datasource
    labelValue: "1"
    type: prometheus
    url: http://localhost:9090
  - name: Alertmanager
    type: alertmanager
    url: http://localhost:9093
    access: proxy
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: true
    basicAuth: false
